In [ ]:
''' Problem Statement for Your Project
Title: Real Estate Market Analysis & Pricing Trends in Delhi
Objective:
The real estate market is dynamic and influenced by various factors such as location, property size, age, and nearby amenities. This project aims to analyze real estate trends in Delhi using data science techniques to provide actionable insights on pricing, demand patterns, and investment opportunities.

Key Goals:
1. Price Analysis & Trends – Identify pricing trends based on location, property size, and amenities.

2. Demand Insights – Determine factors that increase or decrease property value.

3. Affordability Index – Analyze cost per square foot to assess affordability in different areas.

4. Investment Potential – Identify emerging high-value locations and predict potential growth.

5. Data-Driven Decision Making – Help buyers, sellers, and investors make informed decisions.'''

In [2]:
import pandas as pd, numpy as np, seaborn as sns

In [3]:
path = "C:\\Environment\\CA2 Project\\IndianHouses_Corrected.csv"
data = pd.read_csv(path)
data.head()

,Area,BHK,Bathroom,Furnishing,Locality,Parking,Price,Status,Transaction,Type,Per_Sqft,Floor_Level,Property_Age,Nearby_Amenities
0,800.0,3,2.0,Semi-Furnished,Rohini Sector 25,1.0,6500000.0,Ready_to_move,New_Property,Builder_Floor,8125.000000,3rd Floor,10-20 years,Near Metro
1,750.0,2,2.0,Semi-Furnished,"J R Designers Floors, Rohini Sector 24",1.0,5000000.0,Ready_to_move,New_Property,Apartment,6666.666667,2nd Floor,20+ years,NaN
2,950.0,2,2.0,Furnished,"Citizen Apartment, Rohini Sector 13",1.0,15500000.0,Ready_to_move,Resale,Apartment,16315.789470,Penthouse,5-10 years,Near Mall
3,600.0,2,2.0,Semi-Furnished,Rohini Sector 24,1.0,4200000.0,Ready_to_move,Resale,Builder_Floor,7000.000000,1st Floor,20+ years,Near Mall
4,650.0,2,2.0,Semi-Furnished,Rohini Sector 24 carpet area 650 sqft status R...,1.0,6200000.0,Ready_to_move,New_Property,Builder_Floor,9538.461538,Penthouse,20+ years,Near Hospital

In [4]:
data.info() #BASIC INFORMATION

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Area              5000 non-null   float64
 1   BHK               5000 non-null   int64
 2   Bathroom          4992 non-null   float64
 3   Furnishing        4982 non-null   object
 4   Locality          5000 non-null   object
 5   Parking           4883 non-null   float64
 6   Price             5000 non-null   float64
 7   Status            5000 non-null   object
 8   Transaction       5000 non-null   object
 9   Type              4982 non-null   object
 10  Per_Sqft          5000 non-null   float64
 11  Floor_Level       5000 non-null   object
 12  Property_Age      5000 non-null   object
 13  Nearby_Amenities  3978 non-null   object
dtypes: float64(5), int64(1), object(8)
memory usage: 547.0+ KB

In [5]:
print(data.isnull().sum()) #CHECKING NULL VALUES

Area                   0
BHK                    0
Bathroom               8
Furnishing            18
Locality               0
Parking              117
Price                  0
Status                 0
Transaction            0
Type                  18
Per_Sqft               0
Floor_Level            0
Property_Age           0
Nearby_Amenities    1022
dtype: int64

In [10]:
data.loc[:, 'Bathroom'] = data['Bathroom'].fillna(data['Bathroom'].mode()[0])
data.loc[:, 'Furnishing'] = data['Furnishing'].fillna('Unfurnished')
data.loc[:, 'Parking'] = data['Parking'].fillna(0)
data.loc[:, 'Type'] = data['Type'].fillna(data['Type'].mode()[0])

# Check if all missing values are handled
print(data.isnull().sum())

Area                   0
BHK                    0
Bathroom               0
Furnishing             0
Locality               0
Parking                0
Price                  0
Status                 0
Transaction            0
Type                   0
Per_Sqft               0
Floor_Level            0
Property_Age           0
Nearby_Amenities    1022
dtype: int64

In [11]:
data.head()

,Area,BHK,Bathroom,Furnishing,Locality,Parking,Price,Status,Transaction,Type,Per_Sqft,Floor_Level,Property_Age,Nearby_Amenities
0,800.0,3,2.0,Semi-Furnished,Rohini Sector 25,1.0,6500000.0,Ready_to_move,New_Property,Builder_Floor,8125.000000,3rd Floor,10-20 years,Near Metro
1,750.0,2,2.0,Semi-Furnished,"J R Designers Floors, Rohini Sector 24",1.0,5000000.0,Ready_to_move,New_Property,Apartment,6666.666667,2nd Floor,20+ years,NaN
2,950.0,2,2.0,Furnished,"Citizen Apartment, Rohini Sector 13",1.0,15500000.0,Ready_to_move,Resale,Apartment,16315.789470,Penthouse,5-10 years,Near Mall
3,600.0,2,2.0,Semi-Furnished,Rohini Sector 24,1.0,4200000.0,Ready_to_move,Resale,Builder_Floor,7000.000000,1st Floor,20+ years,Near Mall
4,650.0,2,2.0,Semi-Furnished,Rohini Sector 24 carpet area 650 sqft status R...,1.0,6200000.0,Ready_to_move,New_Property,Builder_Floor,9538.461538,Penthouse,20+ years,Near Hospital